html
  head
    title='DealerBuilt-RETL'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome Chetu!!!
        p Simple App DEALERBUILT-RTL For Testing  !!
        p Welcome to Docker World
